In [2]:
#Library
import pyodbc
import pandas as pd
import numpy as np
#MyConnection
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=***;DATABASE=***;UID=***;PWD=***')
cursor = conn.cursor()
cursor.execute("""CREATE TABLE Consolidado (DEP int,LOJA int,BA varchar(3),FABR int,PROD int,COD_PLU int,NOME_PRODUTO varchar(255),QTDE_EMBAL int,EMBAL int,CUSTO float,DATA_FAT varchar(255),ROMAN int,ROTA int,DT_ORIGEM varchar(255));""")
conn.commit()
conn.close()
print("Feito")