In [434]:
#Library
import pyodbc
import pandas as pd
import numpy as np

#Import Archive
df = pd.read_csv(r"C:\Users\2796384\Desktop\Python\Automação\01 - JANEIRO\30-01-2021.1965.H77.csv",delimiter = ";",skipinitialspace=True, skiprows=1,low_memory=False)

#Choose the columns with Index
df = df.iloc[:, [1,2,3,6,7,8,10,11,12,13,14,23,24,27]]
df[['LOJA','DEP ','FABR ','PROD ','COD PLU','EMBAL ','DATA FAT','ROMAN.','DT ORIGEM','ROTA   ']] = df[['LOJA','DEP ','FABR ','PROD ','COD PLU','EMBAL ','DATA FAT','ROMAN.','DT ORIGEM','ROTA   ']].fillna(0).astype(np.int64)
df['VAL CUSTO SICM'] = df['VAL CUSTO SICM'].str.replace(",", ".")
df['VAL CUSTO SICM'] = df['VAL CUSTO SICM'].fillna(0).astype(np.float64)
df['QTDE EMBAL'] = df['QTDE EMBAL'].str.replace(",00", "")
df['QTDE EMBAL'] = df['QTDE EMBAL'].fillna(0).astype(np.int64)
df = df.rename(columns={'DEP ': 'DEP', 'PROD ':'PROD','NOME PRODUTO                       ':'NOME_PRODUTO','ROTA   ':'ROTA','ROMAN.':'ROMAN','FABR ':'FABR','VAL CUSTO SICM':'CUSTO','EMBAL ':'EMBAL'})
df = df.loc[df['DEP'] == 1965]
df['DATA FAT'] = df['DATA FAT'].astype(str)
df['DATA FAT'] = df['DATA FAT'].str[6:8] + "/" + df['DATA FAT'].str[4:6]  + "/" + df['DATA FAT'].str[0:4] 
df['DATA FAT'] = df['DATA FAT'].str.replace("//0", "0")
df['DT ORIGEM'] = df['DT ORIGEM'].astype(str)
df['DT ORIGEM'] = df['DT ORIGEM'].str[6:8] + "/" + df['DT ORIGEM'].str[4:6]  + "/" + df['DT ORIGEM'].str[0:4] 
df['DT ORIGEM'] = df['DT ORIGEM'].str.replace("//0", "0")
df = df.rename(columns={'COD PLU': 'COD_PLU','DATA FAT':'DATA_FAT','DT ORIGEM':'DT_ORIGEM','QTDE EMBAL':'QTDE_EMBAL'})
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=1965DEP01993816\SQLEXPRESS;DATABASE=H77;UID=123;PWD=123')
cursor = conn.cursor()

#Insert into sql
for row in df.itertuples():
    cursor.execute("""INSERT INTO Janeiro21(DEP,LOJA,BA,FABR,PROD,COD_PLU,NOME_PRODUTO,QTDE_EMBAL,EMBAL,CUSTO,DATA_FAT,ROMAN,ROTA,DT_ORIGEM) VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?)""",row.DEP,row.LOJA,row.BA,row.FABR,row.PROD,row.COD_PLU,row.NOME_PRODUTO,row.QTDE_EMBAL,row.EMBAL,row.CUSTO,row.DATA_FAT,row.ROMAN,row.ROTA,row.DT_ORIGEM)
    conn.commit()
conn.close()
print("Acabou")

ValueError: invalid literal for int() with base 10: '0000000,80'